Data/
.Rproj.user
WrightFisherModel_2024/.RData
WrightFisherModel_2024/intermed_gene_presence_absence.rds
WrightFisherModel_2024/intermed_gene_presence_absence_2001.rds
WrightFisherModel_2024/intermed_gene_presence_absence_2004.rds
WrightFisherModel_2024/intermed_gene_presence_absence_2007.rds
WrightFisherModel_2024/intermed_gene_presence_absence_consensus.rds
WrightFisherModel_2024/intermed_gene_presence_absence_consensus_2001.rds
WrightFisherModel_2024/intermed_gene_presence_absence_consensus_2004.rds
WrightFisherModel_2024/intermed_gene_presence_absence_consensus_2007.rds
